<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSavePost()">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Post title"
        formControlName="title"
        required
      />
      <mat-error *ngIf="form.get('title').invalid">Title is required</mat-error>
    </mat-form-field>
    <div>
      <button type="button" mat-stroked-button (click)="filePicker.click()">
        Choose a file
      </button>
      <input type="file" #filePicker />
    </div>
    <mat-form-field>
      <textarea
        matInput
        cols="5"
        rows="3"
        placeholder="Post content"
        formControlName="content"
        required
      >
      </textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Content is required</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" class="save-btn">
      Save post
    </button>
  </form>
</mat-card>
