mat-form-field,
textarea {
  width: 100%;
}

.save-btn {
  margin: 1rem;
  padding: 0.3rem 1.5rem;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
